// colors
$grey-base: #343434;
$grye-35: #353535;
$grey-80: #252526;
$grey-60: #999999;
$grey-61: #b3b3b3;
$grey-62: #9a9a9a;
$grey-65: #e5e5e5;
$grey-64: #B4B4B4;
$grey-55: #eef0f2;
$grey-50: #f2f2f2;
$grey-45: #e6e6e6;
$grey-40: #ebeced;
$grey-30: #D9D9D9;
$grey-96: #969696;
$grey-fa: #FAFAFA;



$black-a1:#1a1a1a;
$black-b1:#1b1b1b;

$black-03: rgba(0, 0, 0, 0.3);
$black-19: #191919;
$white: #FFFFFF;
$purple-71:#715FE0;
$purple: #6B55F2;
// Font sizes
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-35: 35px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-46: 46px;
$font-size-48: 48px;
$font-size-50: 50px;
$font-size-52: 52px;
$font-size-54: 54px;
$font-size-56: 56px;
$font-size-58: 58px;
$font-size-60: 60px;
$font-size-70: 70px;
$font-size-80: 80px;
$font-size-85: 85px;
$font-size-90: 90px;
$font-size-95: 95px;
$font-size-120: 120px;
$font-size-130: 130px;

//page withs
$max-width-1200: 1200px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-320: 320px;
// transitions
$transition: 0.3s;
