@import "../../assets/style/variabless";
@import "../../assets/style/fonts";
@import "../../assets/style/mixin";


.P-mission-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: $Regular;
.mission-blocks {
  border-top: 1px solid #999999;
  padding-top: 80px;
  .mission-block {
    width: 31.5%;
    height: 450px;
    @include screen-max-width-991 {
      width: 48%;
      margin: 10px 0;
    }
    @include screen-max-width-767 {
      width: 100%;
    }

    .mission-image-cont {
      height: 340px;
      width: 100%;
    }

    .mission-desc {
      padding-top: 50px;
      font-size: $font-size-26;
      font-weight: 500;
      line-height: 30px;
      color: $white;
      font-style: normal;
      @include screen-max-width-991 {
        font-size: $font-size-20;
      }
      @include screen-max-width-767 {
        font-size: $font-size-18;
      }

    }
  }
}
  }
