@import "../../assets/style/variabless";
@import "../../assets/style/fonts";
@import "../../assets/style/mixin";


.Large_circle,
{
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  //mix-blend-mode: difference ;
  mix-blend-mode: exclusion;
}

